#meme{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{
    margin: 1rem;
}

body{
    background-color: black;
}

h1{
    color: whitesmoke;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}


form{
    display: flex;
    justify-content: center;
}

label{
    font-family: 'Loto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}


input{
    font-family: 'Loto', sans-serif;
    font-size: 16px;
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 5px;
    margin-right: 5px;
}

input:focus{
    border-color:#333;
}

button{
    font-family: 'Loto', sans-serif;
    background-color: rgb(218, 218, 218);
    border-radius:6px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    border:2px solid #ccc; 
    padding: 6px;
    margin: 2px;
}

button:hover{
    background-color: rgb(230, 227, 227);
}


